[data-name="survey-response-content"]:hover
[data-name="survey-response-tooltip"] {
  visibility: visible;
}

[data-name="survey-response-tooltip"] {
  bottom: 150%;
  left: 25%;
  visibility: hidden;
}

[data-name="survey-response-tooltip"]::after {
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: "";
  left: 50%;
  position: absolute;
  top: 100%;
}
